## Ignore everything reversely ##
*
!*/

# Include everything inside .local
!/.local/**

## Including folders inside .config ##

# Ignore everything inside .config
/.config/**

!/.config/mpv/**
!/.config/paru/**
!/.config/btop/**
!/.config/mako/**
!/.config/wofi/**
!/.config/hypr/**
!/.config/nemo/**
!/.config/tmux/**

!/.config/shell/.zshrc
!/.config/shell/.zshenv
!/.config/shell/inputrc
!/.config/shell/aliasrc
!/.config/shell/shortcutrc

!/.config/kitty/**
!/.config/waybar/**
!/.config/xremap/**
!/.config/swaylog/**
!/.config/alacritty/**
!/.config/nwg-displays/**

# Include at .gitignore folder these files
!/.zprofile
!/.stow-local-ignore
!/.gitmodules
!/.gitignore
!/README.md
!/required.txt
