.local/wallpapers
.config/btop/btop.log
.config/shell/.zcompdump
.config/hypr/nvidia-gpu
.config/hypr/intel-ig
.config/BraveSoftware/
.config/Code/
.config/FreeCAD/
.config/Mendeley Ltd./
.config/PrusaSlicer/
.config/QtProject.conf
.config/ags/
.config/bruno/
.config/cef_user_data/
.config/configstore/
.config/dconf/
.config/eww/
.config/gtk-3.0/
.config/nextjs-nodejs/
.config/nwg-displays/
.config/obs-studio/
.config/org.keshavnrj.ubuntu/
.config/paru/
.config/pavucontrol.ini
.config/pipe-viewer/
.config/pulse/
.config/qBittorrent/
.config/qt5ct/
.config/torbrowser/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/vesktop/
