* {
    border: none;
    font-family: Inconsolata Nerd Font;
    font-weight: bold;
    font-size: 16px;
}

window#waybar {
    background: rgba(21, 18, 27, 1);
    color: #cdd6f4;
}

#workspaces button {
    color: #497e76;
    border: 1px;
    border-radius: 8px;
    border-color: #4c2882;
    border-style: solid;
    margin: 0 4px;
    padding: 0 4px;

}

#workspaces button.active {
    color: #f7501a;
}

#workspaces button.urgent {
    color: #8409ce;
    background: #a6e3a1;
}

#workspaces button.focused {
    color: #8409ce;
    background: #eba0ac;
}

#workspaces button:hover {
    background: rgba(128, 235, 142, 0.2);
    color: #cdd6f4;
}

#cpu,
#memory,
#custom-date,
#custom-clock {
    background: #1e1e2e;
    border: 2px solid #181825;
    padding: 0 0.43rem 0 0;
    margin: 0 1rem 0 1rem;
}
