* {
    border: none;
    border-radius: 20px;
    font-family: Inconsolata Nerd Font;
    font-weight: bold;
    font-size: 18px;
	margin: 0.2rem 0.7rem 0.1rem 0.45rem;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: #cdd6f4;
}

window#waybar.empty #window {
    background-color: transparent;
	border-color: transparent;
}

tooltip {
    background: #1e1e2e;
    border-radius: 10px;
    border-width: 0.3rem;
    border-style: solid;
    border-color: #11111b;
}

#custom-language,
#custom-term,
#custom-nemo,
#custom-updates,
#custom-language,
#custom-clock,
#custom-date,
#window,
#cpu,
#memory,
#disk,
#battery,
#bluetooth,
#network,
#workspaces,
#pulseaudio,
#tray,
#backlight {
    background: #1e1e2e;
    border: 2px solid #181825;
	border-radius: 10rem;
	padding: 0.36rem 0.43rem;
}

#workspaces {
	padding: 0.1rem;
	margin: 0rem 4rem;
}

#workspaces button {
    color: #8409ce;
	margin: 0;
	padding: 0;
}

#workspaces button.active {
    color: #f7501a;
	margin: 0;
	padding: 0;
}

#workspaces button.focused {
    color: #8409ce;
    background: #eba0ac;
	margin: 0;
	padding: 0;
}

#workspaces button.urgent {
    color: #8409ce;
    background: #a6e3a1;
	margin: 0;
	padding: 0;
}

#workspaces button:hover {
	background: rgba(128, 235, 142, 0.2);
	margin: 0;
	padding: 0;
}

#pulseaudio
{
    border-radius: 1rem;
	padding: 0 1rem 0 0.7rem;
}

#tray {
    border-radius: 5rem;
}

#tray button.active {
    color: #f7501a;
}

#cpu {
    border-radius: 5rem;
}

#memory {
    border-radius: 5rem;
}

#disk {
    border-radius: 5rem;
}

#workspaces {
    background: #1e1e2e;
    border-radius: 5rem;
    color: #8409ce;
	margin: 0;
	padding: 0;
}

#battery {
    color: #a6e3a1;
	padding: 0.1rem 0.7rem;
}

#window {
    border-radius: 10rem;
}

#custom-clock {
    color: #fab387;
	padding-right: 0.5rem;
	margin: 0;
	border-radius: 0 5rem 5rem 0;
	border-left: 0.1rem solid #fab387;
}

#custom-date {
    color: #fab387;
	padding-left: 0.5rem;
	margin: 0;
	border-radius: 5rem 0 0 5rem;
}

#custom-term {
    border-radius: 1rem;
	padding: 0.1rem 0.2rem;
}

#custom-nemo {
    border-radius: 1rem;
	padding: 0.1rem 0.2rem;
}
